body {
    font-family: "Urbanist", sans-serif !important;
}

  /* NavBar */
.contact-top,
.section-sectors {
    background-color: #513a7c;
}

.nav-link:hover {
    color: #f4b942 !important;
}

.logo-header {
    width: 18rem;
}

/* Hero Section Main */
.hero-section-main{
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-section-main-responsive {
  background-image: url(/img/banner-telefono.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

/* Hero Section About*/
.about-section,
.services-points {
    background-color: #372b4f;
}

.value-plus {
    background-color: #5a5a5a !important;
}

.value-minus {
    background-color: #f4b942 !important;
}

/* Colores del botón acordeón */
.accordion-button.btn-plus {
  background-color: #5a5a5a !important;
  color: #FFFFFF !important;
}

.accordion-button.btn-minus {
  background-color: #f4b942 !important;
  color: #FFFFFF!important;
}

.hero-section-about{
    background: url(/img/experiencia.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
}


.hero-section-about-responsive{
    background: url(/img/experiencia-telefono.png) no-repeat center center;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     position: relative;
}

.counter-section {
    padding: 3rem 1rem;
    background-color: #fff;
    text-align: left;
}
.counter-box {
    position: relative;
    padding: 1rem;
    color: #3d348b;
}
.border-left {
    border-left: 2px solid #f4b942 !important;
}
.counter-label {
    font-size: 0.9rem;
    color: #5c5c5c;
}

.hero-section-values{
    background: url(/img/mision-vision.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
}

.hero-section-values-responsive{
    background: url(/img/mision-vision-telefono.png) no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sector-card {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: center;
    padding: 1rem;
}

.sector-card:hover {
    transform: scale(1.05);
}

.sector-card-telecom {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: center;
    padding: 1rem;
}

.sector-card-telecom:hover {
    transform: scale(1.05);
}

.sector-title {
    padding-top: 25rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
}


.sector-title-telecom {
    padding-top: 15rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
}


/* Services Section */
.services-section {
    background-color: #FFFFFF;
    color: #513a7c !important;
    padding: 0px !important;
}

    .nav-tabs .nav-link {
      background-color: #555;
      color: white;
      margin-right: 10px;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
    }

    .nav-tabs .nav-link.active {
      background-color: #FFB703 !important;
      color: #000 !important;
    }

    .tab-content {
      margin-top: 30px;
    }

    .rounded-image {
      border-radius: 20px;
    }

    .contenido-proyecto {
      display: flex;
      flex-wrap: wrap;
      align-items: start !important;
      gap: 30px;
    }

    .contenido-texto {
      flex: 1 1 300px;
    }

    .contenido-imagen-fondo {
        flex: 1 1 300px;
        height: 70vh;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }

    .fondo-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    /* Indicadores visibles sobre fondo oscuro */
    .carousel-indicators [data-bs-target] {
        background-color: #fff;
    }

    .line {
      border-top: 2px solid #FFFFFF !important;
      width: 80%;
    }

    /* Animación */
    .fade-custom {
      animation: fadeIn 0.6s ease;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

     .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      background: #fff;
      padding: 20px 0;
    }

    .slider::before,
    .slider::after {
      content: "";
      position: absolute;
      width: 15%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    }

    .slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    .slider::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      display: flex;
      animation: scroll 40s linear infinite;
      width: max-content;
    }

    .slide-brand {
      flex: 0 0 auto;
      width: 180px; /* Tamaño fijo */
      height: 120px; /* Tamaño fijo */
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f8f9fa;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      border-radius: 8px;
    }

    .slide-brand img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    @media (max-width: 768px) {
      .slide-brand {
        width: 140px;
        height: 100px;
        margin: 0 6px;
      }
    }


@media (max-width: 576px) {
  .hero-section-main-responsive {
    height: 50vh;
  }
  .hero-section-about-responsive {
    height: 90vh;
  }  
  .hero-section-values-responsive {
    height: 120vh;
  }
  .logo-header {
    width: 12rem;
}
.sector-title {
    padding-top: 23rem;
}

.sector-title-telecom {
    padding-top: 23rem;
}

.slide-brand {
    width: 100px;
    height: 80px;
    margin: 0 4px;
}

}

@media (max-width: 320px) {
      .hero-section-values-responsive {
    height: 150vh;
  }
}