body {
    font-family: "Urbanist", sans-serif !important;
}

.contact-top {
    background-color: #513a7c;
}

.nav-link:hover {
    color: #f4b942 !important;
}

.logo-header {
    width: 18rem;
}

.hero-section-main{
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}